$def with (lights, colours, modes, selected_colours, selected_mode)
<html>
    <head>
        <title></title>
        <link href="content/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
        <script language="javascript" src="content/jquery-3.6.0.js"></script>
        <script language="javascript">
            jQuery(document).ready(function(){
                jQuery('#lights_brightness_plus').click(click_brightness_plus);
                jQuery('#lights_brightness_minus').click(click_brightness_minus);
                jQuery('#lights_chase_colours').change(change_chase_colours);
                jQuery('#lights_mode').change(change_mode);
                jQuery('#shutdown').click(click_shutdown);
            }); 
            function set_brightness(brightness, id) {
                jQuery.ajax({
                    url: '/api/brightness',
                    method: 'PUT',
                    dataType: 'JSON',
                    data: '{"brightness": ' + brightness + '}',
                    success: function(data, textStatus, jqXHR){
                        jQuery('#lights_brightness').html(data['brightness']);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert('error');
                    }
                });
            }
            function click_brightness_plus() {
                var brightness = Number(jQuery('#lights_brightness').html());
                if (brightness < 1) {
                    brightness = brightness + 0.1;
                    brightness = brightness.toFixed(2);
                }
                set_brightness(brightness);
            }
            function click_brightness_minus() {
                var brightness = Number(jQuery('#lights_brightness').html());
                if (brightness > 0) {
                    brightness = brightness - 0.1;
                    brightness = brightness.toFixed(2);
                }
                set_brightness(brightness);
            }
            function click_shutdown() {
                if (confirm('shutdown?')) {
                    jQuery.ajax({
                        url: '/api/shutdown',
                        method: 'PUT',
                        dataType: 'JSON',
                        data: '{"shutdown": 1}',
                        success: function(data, textStatus, jqXHR){
                            alert('success');
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert('error');
                        }
                    });
                }
            }
            function change_chase_colours() {
                var selected_colours = jQuery('#lights_chase_colours').val();
                jQuery.ajax({
                    url: '/api/selectedcolours',
                    method: 'PUT',
                    dataType: 'JSON',
                    data: '{"selected": "' + selected_colours + '"}',
                    success: function(data, textStatus, jqXHR){
                        jQuery('#lights_chase_colours').val(data['selected']);
                        var l = jQuery('#lights_chase_colours_list')
                        l.html('');
                        data['colours'].forEach(function(item, index, arr){
                            l.append('<li style="background-color: rgb(' + item.join(', ') + ')" class="list-group-item">(' + item.join(', ') + ')</li>');
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert('error');
                    }
                });
            }
            function change_mode() {
                var selected_mode = jQuery('#lights_mode').val();
                jQuery.ajax({
                    url: '/api/mode',
                    method: 'PUT',
                    dataType: 'JSON',
                    data: '{"mode": "' + selected_mode + '"}',
                    success: function(data, textStatus, jqXHR){
                        jQuery('#lights_mode').val(data['mode']);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert('error');
                    }
                });
            }
        </script>
    </head>
    <body>
        <div class="container">
        <h1>neopixel</h1>
        <h2>config</h2>
        <ul class="list-group">
            <li class="list-group-item">pixels: <span class="badge bg-dark">$lights.num_pixels</span></li>
            <li class="list-group-item">
                brightness: <span id="lights_brightness" class="badge bg-dark">$lights.brightness</span>
                <input id="lights_brightness_plus" type="button" value="+" class="btn btn-secondary" />
                <input id="lights_brightness_minus" type="button" value="-" class="btn btn-secondary" />
            </li>
            <li class="list-group-item">order: <span class="badge bg-dark">$lights.order</span></li>
        </ul> 
        <h2>mode</h2>
        <select id="lights_mode" class="form-select">
            $for m in modes:
                $if selected_mode == m:
                    <option selected="selected" value="$m">$m</option>
                $else:
                    <option value="$m">$m</option>
        </select>
        <h2>chase colours</h2>
        <select id="lights_chase_colours" class="form-select">
            $for c in colours:
                $if selected_colours == c:
                    <option selected="selected" value="$c">$colours[c]</option>
                $else:
                    <option value="$c">$colours[c]</option>
        </select>
        <ul id="lights_chase_colours_list" class="list-group">
            $for colour in lights.chase_colours[lights.chase_selected_colours]:
            <li style="background-color: rgb($colour[0], $colour[1], $colour[2])" class="list-group-item">$colour</li>
        </ul>
        <input id="shutdown" type="button" value="shutdown" class="btn btn-danger" />
        </div>
    </body>
</html>
